html, body {
	background: url(drums.jpg);
	background-size: 100% auto;
	font-family: "Bitter";
	margin: 0;
	padding: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.key {
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px solid white;
	border-radius: 1rem;
	display: inline-block;
	margin: 2.25rem;
  	padding: 1rem .25rem;
	position: relative;
	text-align: center;
	transition: all ease .1s;
	width: 5rem;
}

.playing {
	transform: scale(1.1);
	border: #cc66cc solid 1px;
	box-shadow: 0 0 1rem #cc66cc;
}

.letter {
	color: #cc66cc;
	display: block;
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
}

.sound-name {
	color: white;
	font-weight: 400;
}